
  
  body{
    text-transform: capitalize;
  }
  a,h1,h2,h3,h4,h5,h6{
    font-family: 'Patua One', cursive;
 }
 
 .big-font{
   font-size: 60px;
   line-height: 2px;
 }
 
 p{
   font-family: 'Cormorant Garamond', serif;
   font-weight: bold;
   font-size: 25px;
 }
 
 /* nav bar*/
 .navbar-brand img{
   width: 260px;
 }
 
 .navbar-nav li a{
   text-align: center;
   width: 110px;
   padding: 5px 20px;
   font-size: 22px;
   transition: .5s;
 }
 
 .navbar-nav li a:hover{
   background: #12C7B8;
   border-radius: 6px;
 }
 /* my banner*/
 .my-banner{
   background: url(https://i.imgur.com/p7xIlQz.jpg) no-repeat center;
   overflow: hidden;
   background-size: cover;
   position: relative;
   padding: 350px 0px;
  }

 .banner{
    position: absolute;
    bottom: -60px;
    display: flex;
    justify-content: space-between;
 }
 
 .banner img{
    animation: bubble 3s linear infinite;
    width: 57px;
 }
 
 @keyframes bubble{
   0%{
     transform: translateY(0);
     opacity: 0;
   }
   25%{
     opacity: .8;
   }
   50%{
     opacity: 1;
   }
   75%{
     opacity: 1;
   }
   100%{
     transform: translateY(-640px);
     opacity: 0;
   }
 }
 
 .banner img:nth-child(1){
   animation-delay: 0s;
 }
 
 .banner img:nth-child(2){
   animation-delay: 1.5s;
 }
 
 .banner img:nth-child(3){
   animation-delay: .5s;
 }
 
 .banner img:nth-child(4){
  animation-delay: 2s;
 }
 
 .banner img:nth-child(5){
   animation-delay: 0s;
 }
 
 .banner img:nth-child(6){
   animation-delay: 1.5s;
 }
 
 .banner img:nth-child(7){
   animation-delay: .5s;
 }
 
 .banner img:nth-child(8){
   animation-delay: 2s;
 }
 
 .banner img:nth-child(9){
   animation-delay: 0s;
 }
 .banner img:nth-child(10){
  animation-delay: 1.5s;
 }
 
 .banner img:nth-child(11){
   animation-delay: .5s;
 }
 
 .banner img:nth-child(12){
   animation-delay: 2s;
 }
 
 /* your welcome*/
 .your-welcome{
    background: linear-gradient(45deg, #DFFF55, #FFFFFF, #FFFFFF, #FFFFFF, #FFC065);
    overflow: hidden;
  }
  
 .welcome{
   text-align: center;
 }
 
 .wor-text h1{
   text-align: center;
   opacity: .3;
   font-size: 50px;
 }
 
 .wor-items h1{
   font-size: 80px;
   opacity: .2;
 }
 
 .wor-items h2{
   font-size: 35px;
 }
 
 .work-img{
   display: flex;
   justify-content: space-between;
 }
 
 .work-img img{
   width: 20%;
 }

 /* service*/
 .services{
   background: linear-gradient(135deg, #8AFFEE, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #8AFFB9);
 }
 
 .s-s h1{
   font-size: 60px;
   opacity: .3;
 }
 
 .s-i{
   text-align: center;
   border: 2px solid #D3D3D3;
   border-radius: 50%;
   height: 130px;
   width: 130px;
   line-height: 110px;
   margin-top: 25px;
   transition: 1s;
   font-size: 75px;
 }
 
 .hover-ser:hover .s-i{
   transform: scale(1.3);
   box-shadow: 0px 2px 2px 3px #000000BF;
   border-color: #FFFFFF;
   background: #757575;
   color: white;
 }
 
 /* process*/
 .process{
   background: linear-gradient(45deg, #FFF54D, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #F12FFF);
 }
 
 .proc-head h1{
   font-size: 60px;
   opacity: .3;
 }
 
 .proc-items{
   font-size: 60px;
   text-align: center;
   border: 2px solid #41FF6E;
   border-radius: 50%;
   height: 110px;
   width: 110px;
   line-height: 90px;
   margin-top: 35px;
   animation: playbtn 3s ease-out infinite;
 }
 
 @keyframes playbtn{
   0%{
     transform: scale(0);
     opacity: 0;
   }
   
   10%{
     transform: scale(1.1)
     opacity: 1;
     color: skyblue;
   }
   
   20%{
     transform: scale(1.2);
     opacity: 1;
     color: skyblue;
   }
   
   30%{
     transform: scale(1.3);
     opacity: 1;
     color: skyblue;
   }
   
   40%{
     transform: scale(1.4);
     opacity: 1;
     color: skyblue;
   }
   
   50%{
     transform: scale(1.5);
     opacity: 1;
     color: skyblue;
   }
   
   60%{
     transform: scale(1.6);
     opacity: 1;
     color: black;
   }
   
   70%{
     transform: scale(1.7);
     opacity: 1;
     color: black;
   }
   
   80%{
     transform: scale(1.8);
     opacity: 1;
     color: black";
   }
   
   90%{
     transform: scale(1.9);
     opacity: 1;
     color: black;
   }
   100%{
     transform: scale(2);
     opacity: 0;
     color: black;
   }
 }
 
 /* Protflio*/
 .my-protflio{
   background: linear-gradient(135deg, #848484, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFD706);
 }
 
 .m-p h1{
   opacity: .3;
   text-align: center;
   font-size: 60px;
 }
 
 .pro-items{
   border-radius: 5px;
   margin: 20px 0;
   box-shadow: 0px 5px 5px 6px #747474;
   border: 1px solid #00FF48;
   transition: .6s;
 }
 
 .pro-items img{
   max-width: 100%;
   border-radius: 5px;
 }
 
 .pro-items:hover{
   transform: translateY(-30px);
   color: red;
   }
 /* line*/
 .line{
   margin: 0px auto 15px auto;
   height: 2px;
   width: 30%;
   background: linear-gradient(135deg, #FF0202, #04FF02, #02FFDB); 
   animation: line 3s ease-in infinite;
 }
 
 @keyframes line{
   0%{
     transform: scaleX(0);
     opacity: 0;
   }
   
   25%{
     transform: scaleX(1.1);
     opacity: .5;
   }
   
   50%{
     transform: scaleX(1.2);
     opacity: .7;
   }
   
   100%{
     transform: scaleX(1.3);
     opacity: 1;
   }
 }
 
  /* about */
 .my-about{
   background: linear-gradient(135deg, #FF2B2B, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #B8E900);
 }
 
 .about-me h1{
   opacity: .3;
   font-size: 60px;
 }
 
 .about-img img{
   margin-top: 20px;
   width: 60%;
   border: 3px solid #B6B6B6;
   border-radius: 50%;
   transition: .5s;
 }
 
 .my-about:hover .about-img img{
    box-shadow: 0 0 0 10px #57FFC4A1;
  }
 
 .per-inf ul{
   list-style: none;
   padding-left: 0;
   text-transform: none;
   font-family: 'Lobster', cursive;
 }

 .contact-me{
   background: linear-gradient(45deg, #53A8FA, #FFFFFF, #FFFFFF, #FFFFFF, #00FF48);
 }
 
 .contact-text h1{
   opacity: .3;
  }
  
  .input-group{
    margin: 10px 0;
  }
  
  .ok{
    padding: 5px 0;
    font-size: 20px;
    margin: auto;
  }
  
  .type-text{
    transition: .6s;
    border-radius: 4px;
    outline: none;
    height: 135px;
    padding: 5px 10px;
  }
  
 .type-text:hover{
   box-shadow: 0 0 0 4px #90CDFFDB;
  }
  
  /* mapss*/
 .map{
    margin-top: 10px;
  }
  
  /* social media*/
 .social-media{
    background: url(https://i.imgur.com/LbrfdZi.png) no-repeat center;
    background-size: cover;
  }
  
 .wrapper{
  display: flex;
  justify-content: space-around;
  }
  
 .wrapper .icon{
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
 .wrapper .icon span{
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
 .wrapper .icon span i{
  line-height: 60px;
  font-size: 25px;
}
 .wrapper .icon .tooltip{
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
 .wrapper .icon:hover .tooltip{
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
 .icon .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
 .wrapper .icon:hover span{
  color: #fff;
 }
 .wrapper .icon:hover span,
 .wrapper .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
 .wrapper .facebook:hover span,
 .wrapper .facebook:hover .tooltip,
 .wrapper .facebook:hover .tooltip:before{
  background: #3B5999;
}
 .wrapper .twitter:hover span,
 .wrapper .twitter:hover .tooltip,
 .wrapper .twitter:hover .tooltip:before{
  background: #46C1F6;
}

 .wrapper .github:hover span,
 .wrapper .github:hover .tooltip,
 .wrapper .github:hover .tooltip:before{
  background: #333;
}
 .wrapper .youtube:hover span,
 .wrapper .youtube:hover .tooltip,
 .wrapper .youtube:hover .tooltip:before{
  background: #DE463B;
}
/* Responsive */
 @media screen and (max-width: 767px) {
   .my-banner{ padding: 210px 0; }
   
   .banner img {width: 43px; }
     
   @keyframes bubble{
     0%{
     transform: translateY(0);
     opacity: 0;
     }
     25%{opacity: .8}
     
     50%{opacity: 1;}
     
     75%{ opacity: 1;}
     
     100%{
     transform: translateY(-395px);
     opacity: 0;
   }
    }
   
   .s-i{
     margin-bottom: 30px;
   }
   
   .map{
     visibility: hidden;
     opacity: 0;
     height: 0;
   }
   
   p{
     font-size: 19px;
   }
 }
 
 @media screen and (min-width: 786px) and (max-width: 1023px) {
   p{font-size: 22px}
   
   .s-i{margin-bottom: 30px;}
   
   .map{
     visibility: hidden;
     opacity: 0;
     height: 0;
   }
 }